$violet: #11385b;
$subhead: #1b3c59;
$para: #afafaf;
$destination: #4e4e4e;
$input-border: #d9d9d9;
$select-color: #727272;
$quote-color: #20d3f6;
$footer-color: #092d63;
$dark-violet: #15112c;
$privacy: #858192;
$header:#36546e;
$subhead2:#11385b;